.section {
  width: 39%;
  margin: auto;
  height: 50%;
  margin-top: 10rem;
}
td {
  min-width: 124px !important;
}

ul {
  text-decoration: none;
}
.pagination li {
  display: inline-block;
}
.section {
  width: 50%;
  margin: auto;

  margin-top: 2rem;
}
